@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Roboto:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
body, html {
    height: 100%;
  }

  * {
    box-sizing: border-box;
  }


  nav{
    display: flex;
    justify-content: space-around;
    align-items:center;
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    background: rgb(226, 153, 204);
    box-shadow: 15px 20px 40px rgba(0,0,0,0.04);
    z-index: 1;
    text-emphasis-color: white;
    text-shadow: black;
  }
  .logo{
    image-resolution:inherit;
    width: 30px;
    
    position: relative;
  }

  
  .name li a:hover{
    background-color: rgb(165, 87, 142);
    color:rgb(14, 13, 13);
    box-shadow:10px 10px 30px rgba(42, 47, 48, 0.2);
    transition:all ease 0.2s;
    
  }

  .bg-image {
    background-image: url("best-hawaii-beaches.jpg");
    
  
    /* blur effect */
    filter: blur(4px);
    -webkit-filter: blur(4px);
  
    /* Full height */
    height: 70%;
  
    
    background-position:right;
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    border-radius: 50px;
    margin: -19px 10px;
    
   
    
    top: 0px;
    bottom: 500px;
    padding-top: 500px;
    padding-left: 200px;
    position: relative;
  }
 
.container{
   
    position: absolute;
    top: 40%;
    left: 60%;
    width: fit-content;
    left: 400px;
}
.container h1{
    font-family: 'Josefin Sans', sans-serif;
    font-weight:bolder;
    font-size: 40px;
    font-weight: 400;
    margin: -19px 9px;
    padding: 25px 0px;

}



.box{
    
   display: inline-block;
    width: 50%;
    margin: 20px 0px;
    color: black;
    
}

  
    
.box input{
    border-bottom: 2px solid whitesmoke;
    background: none;
    width: 55%;
    border: none;
    outline: none;
    color:white;
   
    padding: 3px 10px;
    font-size: 20px;
    font-weight:  700px;
    border-radius: 10px;
    
    
}

.bttn{
    background: none;
    cursor: pointer;
   font-size: 16px;
    outline: none;
    margin: 12px 1%;
    padding: 5px 15px ;
    border-radius: 10px;
    border: 2px solid rgba(0, 47, 255, 0.562);

}
.bttn:hover{
    color:rgb(25, 99, 109);
    background: white;
    opacity: 1px;
    cursor: pointer;
}
.card {
    box-shadow: 0 3px 50px 0 rgb(0 0 0 / 76%);
    transition: 0.3s;
    width: 100%;
    color:aliceblue;
    right: 20px;
    border: 4px solid black;
    background: none;
}
    
    
  
  .card:hover {
    box-shadow: 0 8px 50px 0 rgba(0,0,0,0.2);
  }
  .container {
    padding: 2px 5px;
  }
  .em{
    position: relative;
    }

  .logo{
    position: relative;
    height: 100px;
    width: 100px;
  }  
  .up{
    position: relative;
    font-size: 30px;
  }
  .up:hover{
    cursor: pointer;
  }
